*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: #fffefd;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

@media (min-width: 768px) {
    .mobileSearch{
        display: none;
    }

    #mobileLogo{
        display: none;
    }
}

.header{
    position: sticky;
    top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: background-color 0.25s;
    z-index: 99;
}

.header:hover{
    background-color: rgba(0, 0, 0, 0.705);
}

.card:hover{
    background-color: #424242;
    transition: background-color 0.2s;
}

body{
    background-color: #1b1c1e;
}

.mainBody{
    background: url(../assets/images/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1b1c1e;
}

.btnro{
    border-radius: 15px;
}

.formControl::placeholder {
    font-size: 1.05rem;
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
  }

.searchForm{
    padding-left: 2rem;
}

.invertImg{
    filter: invert();
}

.outlineSearch{
    outline-color: rgb(255, 255, 255, 0.400);
    outline-style: solid;
    outline-width: 1px;
}

.headerNav{
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    text-align: end;
}

nav ul li img{
    height: 32px;
    background: transparent;
}

h6{
    color: #1b1c1e;
    background: transparent;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
}

.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 25vh;
    justify-content: center;

}

.wrapText{
    text-align: center;
    color: #fffefd;
    width: 50%;
    background: transparent;
}

.wraptit{
    font-size: 4rem;
    background: transparent;
}

.wrapsub{
    font-size: 2rem;
    background: transparent;
}

.btnUnirse:hover{
    color: #fffefd;
    background: rgba(0, 0, 0, 0.5);
    border-color: #fffefd;
}

.prod{
    text-align: center;
    font-size: 5rem;
}

.pubs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem;
}

.pubInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2rem;
    padding-left: 10rem;
}

.borderImg{ 
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.tituloPub{
    font-size: large;
    font-style: italic;
    text-align: center;
}

.precioPub{
    font-size: 2rem;
    color: #cc9250;
}

.footer{
    font-size: 2rem;
    background-color:#cc9250;
}

.ig{
    display: flex;
    justify-content: center;
    color: #1b1c1e;
    background: transparent;
    padding-top: 1rem;
}

#followUs{
    text-align: center;
}

h5{
    color: #1b1c1e;
    margin-left: 0.5rem;
    font-size: 2rem;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.footericons{
    text-align: end;
    background: transparent;
    margin-right: 1rem;
}

.wrapAbout{
    padding-left: 20rem;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

.aboutBody{
    background: url(../assets/images/bkaboutus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1b1c1e;
}

.wrapAboutText{
    color: #fffefd;
    text-align: start;
    width: 35%;
}

.wrapAboutTit{
    font-size: 3rem;
    font-weight: bolder;
}

.wrapAboutSub{
    font-size: 2rem;
    font-weight: 600;
}

.wrapContact{
    padding-left: 20rem;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapContactText{
    color: #fffefd;
    text-align: start;
    width: 65%;
}

.aboutForm{
    font-size: 5rem;
}

.logInForm{
    font-size: 5rem;
}

.cart{
    padding-left: 20rem;
    width: 99vh;
    height: 100vh;
    display: flex;
    align-items: center;
}

.cartText{
    color: #fffefd;
    text-align: start;
    width: 100%;
}

.cartTitle{
    font-size: 5rem;
    font-weight: 900;
} 

.cartSub{
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}

.pubImg{
    width: 50vw;
}

.pub{
    display: flex;
}

.artName{
    font-size: 5rem;
}

.artPrice{
    color: #cc9250;
    font-size: 4rem;
}

.pubSelect{
    display: flex;
    justify-content: space-between;
}

.content-input,
.content-select select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.content-select select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.content-selectr select::-ms-expand{
    display: none;
}

.content-select{
    max-width: 250px;
    position: relative;
}

.content-select label{
    font-size: 1.75rem;
    font-weight: 100;
}

.content-select select{
    display: inline-block;
    width: 100%;
    cursor: pointer;
  	padding: 7px 10px;
  	height: 3rem;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: transparent;
	color: rgb(255, 255, 255, 0.400);
	font-size: 1em;
	color: rgb(255, 255, 255, 0.400);
	font-family: 
	'Quicksand', sans-serif;
	border:1px solid rgb(255, 255, 255, 0.400);
    border-radius: 15px;
    position: relative;
    transition: all 0.25s ease;
    font-size: x-small;
    padding-right: 15rem;
}

.content-select select:hover{
	background: #cc9250;
    color: #1b1c1e;
    border-color: #1b1c1e;
}

.content-select i{
	position: absolute;
	right: 20px;
	top: 65%;
	width: 5px;
	height: 5px;
	display: block;
	border-left:1px solid rgb(255, 255, 255, 0.400);
	border-bottom:1px solid rgb(255, 255, 255, 0.400);
	transform: rotate(-45deg);
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
    border-left-color: #1b1c1e;
    border-bottom-color: #1b1c1e;
}

.gmap{
    width: 478px;
    height: 401.859px;
}

@media (max-width: 767px){
    .bottomFixed{
        background:transparent;
        overflow: hidden;
        position: fixed;
        bottom: -20px;
        width: 100%;
        justify-content: center;
        height: 100px;
    }

    #logo{
        display: none;
    }

    .header:hover{
        background:transparent;
    }

    .mobileSearch{
        position: fixed;
        top: 2rem;
        left: 50%;
        margin-left: -100px;
        z-index: 99;
        width: 200px;
    }

    .searchForm{
        display: none;
    }

    nav ul{
        width: 100%;
        bottom: 0;
    }

    nav ul li{
        height: 64px;
        bottom: 0;
    }

    .bottomFixed a {
        float: left;
        display: flex;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
      }

    nav{
        display: flex;
        text-align: center;
    }

    nav #nosotros{order: 2;}
    nav #contacto{order: 1;}
    nav #carro{order: 4;}
    nav #logIn{order: 5;}
    nav #mobileLogo{width: 80px; height: 80px; order: 3;}

    #mobileLogo{
        background: #cc9250;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 1rem 0.3rem #1b1c1e8f;
    }

    .headerNav{
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        background-color: #1b1c1e;
        box-shadow: 0 0 1rem 0.3rem #1b1c1e8f;
    }

    #mobileNav{
        display: flex;
        justify-content: space-between;
    }

    .navbar-brand img{
        filter: invert();
    }

    ul{
        margin: 0;
        padding: 0;
    }

    li{
        padding: 0;
        margin: 0;
    }

    .mainBody{
        background: url(../assets/images/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1b1c1e;
        background-position: center;
        height: 100vh;
    }

    .wrap{
        width: 100%;
        height: 100vh;
        display: flex;
        padding-top: 30vh;
        justify-content: center;
    
    }
    
    .wrapText{
        text-align: center;
        color: #fffefd;
        width: 100%;
        background: transparent;
    }
    
    .wraptit{
        font-size: 3rem;
        background: transparent;
    }
    
    .wrapsub{
        font-size: 1.5rem;
        background: transparent;
    }

    .footer{
        height: 205.5px;
    }

    .footericons{
        display: flex;
        justify-content: space-between;
        background: transparent;
        margin-right: 1rem;
    }

    .gmap{
        width: 380px;
        height: 403.703px;
    }
}