html, body {
    max-width: 100vw !important;
}


body{
    background-color: $color-primario;
}

@media (min-width: 768px) {
    .mobileSearch{
        display: none;
    }

    #mobileLogo{
        display: none;
    }

    #inputHelpMob{
        display: none;
    }

    body{
        min-height: 100%;
    }
}

.mainBody{
    background: url(../assets/images/background.png);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $color-primario;
}

.maxVh{
    height: 73.5vh;
    overflow: auto;
}

.aboutBody{
    background: url(../assets/images/bkaboutus.png);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-primario;
    background-position: center;
}

