.mainFooter{
    font-size: 2rem;
    background-color:$color-secundario;
}

.footer{
    font-size: 2rem;
    background-color:$color-secundario;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.ig{
    display: flex;
    justify-content: center;
    color: $color-primario;
    background: transparent;
    padding-top: 1rem;
}

#followUs{
    text-align: center;
}

.footericons{
    text-align: end;
    background: transparent;
    margin-right: 1rem;
}