
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: #fffefd;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    list-style-type: none;
}